
@font-face {
  font-family: 'ATTAleckSlab-Regular';
  src: url('./../fonts/ATTAleckSlab-Regular.eot?#iefix') format('embedded-opentype'),  url('./../fonts/ATTAleckSlab-Regular.woff') format('woff'), url('./../fonts/ATTAleckSlab-Regular.ttf')  format('truetype'), url('./../fonts/ATTAleckSlab-Regular.svg#ATTAleckSlab-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ATTAleckSlab-Bold';
  src: url('./../fonts/ATTAleckSlab-Bold.eot?#iefix') format('embedded-opentype'),  url('./../fonts/ATTAleckSlab-Bold.woff') format('woff'), url('./../fonts/ATTAleckSlab-Bold.ttf')  format('truetype'), url('./../fonts/ATTAleckSlab-Bold.svg#ATTAleckSlab-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ATTAleckSlab-Medium';
  src: url('./../fonts/ATTAleckSlab-Medium.eot?#iefix') format('embedded-opentype'),  url('./../fonts/ATTAleckSlab-Medium.woff') format('woff'), url('./../fonts/ATTAleckSlab-Medium.ttf')  format('truetype'), url('./../fonts/ATTAleckSlab-Medium.svg#ATTAleckSlab-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ATTAleckSlab-Italic';
  src: url('./../fonts/ATTAleckSlab-Italic.eot?#iefix') format('embedded-opentype'),  url('./../fonts/ATTAleckSlab-Italic.woff') format('woff'), url('./../fonts/ATTAleckSlab-Italic.ttf')  format('truetype'), url('./../fonts/ATTAleckSlab-Italic.svg#ATTAleckSlab-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ATTAleckSans-Regular';
  src: url('./../fonts/ATTAleckSans-Regular.eot?#iefix') format('embedded-opentype'),  url('./../fonts/ATTAleckSans-Regular.woff') format('woff'), url('./../fonts/ATTAleckSans-Regular.ttf')  format('truetype'), url('./../fonts/ATTAleckSans-Regular.svg#ATTAleckSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Omnes-Semibold';
  src: url('./../fonts/Omnes-Semibold.eot?#iefix') format('embedded-opentype'),  url('./../fonts/Omnes-Semibold.woff') format('woff'), url('./../fonts/Omnes-Semibold.ttf')  format('truetype'), url('./../fonts/Omnes-Semibold.svg#Omnes-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Omnes-Regular';
  src: url('./../fonts/Omnes-Regular.eot?#iefix') format('embedded-opentype'),  url('./../fonts/Omnes-Regular.woff') format('woff'), url('./../fonts/Omnes-Regular.ttf')  format('truetype'), url('./../fonts/Omnes-Regular.svg#Omnes-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
