@import url("./_fonts.css");
*:not('li'){ padding: 0; margin: 0; list-style: none; text-decoration: none;}

body{ 
  margin: auto;
  background: #f3f3f3;
  font-family: 'Omnes-Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-size: 13px;
  color: #333333;
}

a:link{ color: #2aace3; text-decoration: none;}
a:visited{ color: #2aace3;}
a:hover{ color: #2aace3;}
a:active{ color: #2aace3;}
input, select, textarea, button{ border: 0;}
textarea {resize: none;}

#main-header{ background: #000000; height: 100px;}
#main-nav{}
#main-body{}
#main-section{}
#main-aside{}
#main-footer{ background: #000000; color: #ffffff; padding: 40px;}
#main-footer a { color: #ffffff;}
.main-header-center { max-width: 1400px; margin: 0 auto; width: 100%; color: #ffffff;}
.main-header-center a { color: #ffffff;}
.logo { float: left; display: flex; padding-left: 30px;}
.att-logo { position: relative; top: 25px; height: 50px; width: 50px;}
.att-logo-copy {position: relative;top: 46px;font-size: 18px;margin-left: 20px;}
.att-logo-copy span{font-family: 'Omnes-Semibold' !important;position: absolute;top: -18px;font-size: 18px;}

.main-header-language-box { float: right; padding-top: 40px; position: relative; right:10px; }
.main-header-language-box-option-active { text-transform: uppercase; padding: 10px 20px; color: #ffffff; font-weight: 900; border: 2px solid #ffffff; border-radius: 4px;}
.main-header-language-box-option { padding: 10px 20px; color: #ffffff;}

#sub-menu { height: 80px; background: #ffffff; box-shadow: 0 0 4px rgba(0, 0, 0, .15); border-bottom: 2px solid #cccccc;}
#sub-menu-center { height: 80px; margin: 0 auto; max-width: 1400px; width: 100%;}

.center { max-width: 1100px; position: relative; margin: 30px auto; width: 100%;}
.box { border-radius: 4px; background: #ffffff; border: 1px solid #cccccc;}
.border-blue { border: 1px solid #46b6e6;}
.flex { display: flex;}
.justify { justify-content: space-between;}
.copy { font-family: 'ATTAleckSlab-Regular';}

.center-left { max-width: 320px; width: 100%; box-sizing: border-box;}
.center-right { max-width: 740px; width: 100%; box-sizing: border-box;}
.p-15 { padding: 15px;}
.p-20 { padding: 20px;}
.pl-20 { padding-left: 20px;}
.pt-20 { padding-top: 20px;}
.pr-20 { padding-right: 20px;}
.pb-20 { padding-bottom: 20px;}
.pb-0 { padding-bottom: 0;}
.mb-0 { margin-bottom: 0!important;}
.mt-10 { margin-top: 10px;}
.mt-20 { margin-top: 20px;}
.mt-40 { margin-top: 40px;}
.mb-40 { margin-bottom: 40px;}
.mb-10 { margin-bottom: 10px;}
.mb-20 { margin-bottom: 20px;}
.ml-10 { margin-left: 10px;}
.ml-20 { margin-left: 20px;}
.ml-30 { margin-left: 30px;}
.mr-10 { margin-right: 10px;}
.mr-20 { margin-right: 20px;}
.font-blue { color: #46b6e6;}
.font-small { font-size: .8em;}
.font-large { font-size: 1.6em;}
.bold { font-weight: normal; font-family: 'ATTAleckSlab-Bold';}
.medium { font-weight: normal; font-family: 'ATTAleckSlab-Medium';}
.copy-center { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.copy-center-middle { position: absolute; top: 50%; transform: translate(0, -50%);}
.font-gray { color: #666666;}
.align-center { text-align: center;}
.hd1 { font-family: 'ATTAleckSlab-Regular'; font-size: 2em; margin-bottom: 20px;}
.input-text { color: black!important; background-color: #ebebeb!important; border-radius: 3px; border: 1px solid #d1d1d1;}
.full-width { width: 100%; box-sizing: border-box;}
.btn-send { font-size: .8em; width: 30%; background-color: #2aace3; border-radius: 4px; padding: 9px 9px; color: white; text-transform: uppercase; float: right; margin-right: 4%; cursor: pointer; }
.btn-send2 { font-size: 1em; max-width: 200px; width: 100%; background-color: #2aace3; border-radius: 4px; padding: 9px 9px; color: white; text-transform: uppercase; cursor: pointer; }
.btn-send-container { text-align: right; overflow: hidden; position: relative; width: 50%;}

#menu { width: 220px; min-width: 220px; background: #2aace3; font-family: 'ATTAleckSlab-Bold'; min-height: 500px; max-height: 100%;}
.icon-menu-item { display: inline-block; position: relative; width: 35px; top: 2px;}
.menu-icon-title { position: relative; display: inline-block; margin-left: 10px; top: -5px;}
.menu-col:target .menu-item-content { display: block; transition: all 2s linear;}
.menu-item { position: relative; transition: 1s; padding: 5px; padding-left: 15px; border-bottom: 1px solid #ffffff; color: #ffffff; font-weight: 900; cursor: pointer; display: inline-block; width: 100%; box-sizing: border-box; left: 0;}
.menu-item-content { background: #464646; transition: all 2s linear; display: none; color: #ffffff;}
.menu-item-sub-item { font-size: .9em; font-weight: 900; padding: 10px; padding-left: 60px; border-bottom: 1px solid #898989; cursor: pointer;}
.menu-item-sub-item a { color: #ffffff;}
.menu-item-active { background: #000000; transition: .5s;}

#right { width: 90%; margin-left: 20px; position: relative; padding: 20px;}


.sub-menu-col { float: left; height: 60px; margin-top: 10px; position: relative; box-sizing: border-box; margin-left: 12px;}
.sub-menu-col-gray { background: #f2f2f2; border-radius: 4px; border: 1px solid #cccccc; margin-left: 30px;}
.sub-menu-2-left { float: left; width: 200px; padding: 10px; position: relative;}
.sub-menu-2-right { background: url(../drawable/icon-solapa.png) center center no-repeat; height: 59px; width: 50px; border-left: 1px solid #cccccc; float: right; cursor: pointer;}

.sub-menu-2-left-desplegate { box-shadow: 0 0 5px rgba(0, 0, 0, .3); background: #9ed7f1; display: none; margin-left: -10px; top: 60px; position: absolute; width: 100%; z-index: 11;}
.desplegate-item { padding: 10px; border-bottom: 1px solid #ffffff; cursor: pointer;}
.desplegate-item:hover { opacity: .8;}

.sub-menu-2-left-img { float: left; border-radius: 4px; border: 1px solid #ffffff;}
.sub-menu-2-left-right { float: left;}

.sub-menu-2-left-2 { height: 40px; float: left; padding: 10px;}
.sub-menu-2-right-2 { height: 60px; padding: 10px; box-sizing: border-box; width: 150px; float: right;}

.complete-payment { background: #ea7400; border-radius: 8px; padding: 24px; color: #ffffff!important; max-width: 300px; width: 100%; text-align: center;}

.sub-menu-close-session { float: right; margin-top: 35px; display: flex;}
.icon-logout { position: relative; top: -15px;}

.resumen-main-box { margin-bottom: 20px; position: relative; display: flex;}
.resumen-box1 { border-radius: 6px; height: 60px; width: 320px; border: 1px solid #2aace3; display: flex;}
.resumen-box1-main-left { position: relative; width: 100%; height: 60px;}
.resumen-box1-main-left-desplegate { box-shadow: 0 0 5px rgba(0, 0, 0, .3); display: none; background: #9ed7f1; top: 61px; position: absolute; width: 100%; z-index: 10;}
.resumen-desplegate-item { padding: 10px; border-bottom: 1px solid #ffffff; cursor: pointer;}
.resumen-desplegate-item:hover { opacity: .8;}
.resumen-desplegate-item-right { float: right;}
.resumen-desplegate-item-right-copy {}

.resumen-value-number { white-space: nowrap; word-wrap: break-word; display:inline-block; }


.resumen-box1-left { position: relative; float: left; height: 60px; width: 50%;}
.resumen-box1-middle { position: relative; float: right; height: 60px; width: 50%; border-left: 1px solid #2aace3; padding-left: 10px; box-sizing: border-box;}
.resumen-box1-right { background: #2aace3 url(../drawable/icon-solapa-white.png) center center no-repeat; height: 59px; width: 50px; float: right; cursor:pointer; }

.resumen-box2 {  color: #ffffff!important; position: relative; background: #000000; border-radius: 6px; width: 300px; height: 60px; border: 2px solid #000000; font-size: 1.2em; text-align: center; box-sizing: border-box; padding: 20px;}
.resumen-copy-box { padding: 10px; background: #dddddd; margin-bottom: 4px;}

.bg-pop_up { background: rgba(0, 0, 0, .7); position: fixed; z-index: 20; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100%;}
.box-pop_up { max-width: 700px; background: #ffffff; border-radius: 6px; box-shadow: 0 0 20px rgba(0, 0, 0, .5); width: 100%; margin: 0 auto; margin-top: 120px; position: relative; padding: 20px; box-sizing: border-box; border: 1px solid #46b6e6;}
.close-pop_up-box { position: absolute; right: 5px; top: 10px; width: 50px; text-align: center; font-size: .7em;}
.close-pop_up { width: 24px; height: 24px; box-sizing: border-box; color: #999999; padding: 6px 7px; border-radius: 50%; border: 1px solid #999999; font-size: 1em; cursor: pointer; margin: 0 auto; margin-bottom: 5px;}

/*
#
# FOOTER
#
#*/
.footer-center { margin: 0 auto; max-width: 600px; width: 100%; position: relative;}
.footer-top {}
.footer-bottom {}


#mobile-menu { display: none;}
#close-menu-mobile { display: none;}
/*
#################### MOBILE #########################
*/

@media screen and (max-width: 1093px) {
  .complete-payment { max-width: 150px; font-size: .7em;}
  .resumen-box2 { max-width: 200px; font-size: 1em;}
  .sub-menu-2-left { max-width: 144px;}
  .sub-menu-col-gray { margin-left: 10px;}
  .font-large { font-size: 1.2em;}
  .user_name{margin-right: 24px;}
}

@media screen and (max-width: 860px) {
  #menu { display: none; position: fixed; width: 100%; top: 0; height: 100%; z-index: 20; bottom: 0;}
  #sub-menu { height: 100%; width: 100%; overflow: hidden;}
  #sub-menu-center { height: auto; width: 100%; padding: 10px; box-sizing: border-box;}
  .sub-menu-col { display: inline-block; width: 100%; box-sizing: border-box;}
  .sub-menu-2-left { max-width: 100%; width: 85%;}
  #right { width: 100%; position: relative; padding: 20px; margin: 0;}
  .sub-menu-col-gray { margin-left: 0;}
  .complete-payment { width: 100%; max-width: 100%; margin: 0; margin-top: 10px; font-size: 1.2em;}
  .sub-menu-close-session { float: none; width: 100%; top: 20px; position: relative; justify-content: center;}
  .font-large { font-size: 1.6em;}
  .sub-menu-2-left-2 { height: auto;}
  .btn-complete-request { width: 92%; box-sizing: border-box; padding: 10px; margin-left: 4%; margin-right: 4%;}
  .btn-send { float: none; width: 100px;}

  #close-menu-mobile { display: block;}
  #close-menu-mobile span { position: relative; float: right; margin: 30px; color: #ffffff; font-weight: 100!important; border: 2px solid rgba(255, 255, 255, .5); border-radius: 50%; font-size: 1.4em; display: inline-block; width: 30px; height: 30px; box-sizing: border-box; padding: 4px 6px;}
  #mobile-menu { opacity: .6; display: block; float: right; width: 35px; margin-top: 25px; margin-right: 20px;}
  .mobile-menu-line { position: relative; height: 4px; background: #ffffff; border-radius: 3px; margin-top: 8px;}
  .main-header-language-box-option-active { padding: 5px; font-size: .8em; margin: 0;}
  .main-header-language-box-option { margin: 0; padding: 4px;}
  .search_icon { width: 5%; right: 5%;}
  .more { width: 5%;}
  .resumen-main-box { display: inherit; width: 100%;}
  .resumen-box2 { position: relative; display: inline-block; width: 100%; max-width: 100%; top: 20px; margin-bottom: 20px;}
  .resumen-box1 { width: 100%;}
  .resumen-box1-right { overflow: hidden;}
  .resumen-main-box .mr-20 { margin-right: 0;}
  .container_block { width: 100%; display: inherit;}
  .container_block div { width: 100%; margin-bottom: 20px; text-align: center;}
  .container_block .circle { width: 100px; margin: 0 auto; position: relative; top: 30px;}
  .option_title, .service_title, .technical_help_title, .profile_title { position: relative; top: 40px;}
  .container_block div img { margin: 0 auto; width: 15%; top: 30px; position: relative;}
  .complete_payment_summary_bill { width: 100%;}
  #resumen-factura .flex{ display: inherit;}
  #resumen-factura .justify{ justify-content: inherit;}
  .box-2-left { float: none; width: 100%; max-width: 100%;}
  .box-2-right { float: none; width: 100%; max-width: 100%; padding: 10px;}
  #resumen-factura .ml-20 { margin-left: 0; padding: 10px;}
  .att-logo-copy { margin-left: 5px;}
  .step2-form-container { margin-right: 0;}
  .circle-amount { margin-left: 15%;}
  .circle-step { min-height: 50px; min-width: 50px;}
  .complete-payment-steps { font-size: .8em;}
  .btn-download-bill-summary-active { width: 100%;}
  .btn-download-bill-summary { width: 100%;}
  .redirect-evertec-container { margin: 5%; width: 90%;}
  .footer-center { text-align: center;}
  .choose-amount-title { font-size: 1.8em;}
  .footer-top div { margin-bottom: 10px;}
  .footer-center .flex, .footer-center .justify { display: inherit; justify-content: inherit!important;}
  .footer-top div { width: 100%;}
  .recovery-password-box { width: 90%!important; margin: 5%!important; height: auto!important;}
  .step1-content2 { position: relative; top: 30px;}
}

@media screen and (max-width: 360px) {
  #main-header { height: 130px;}
  .main-header-language-box { position: absolute; right: 10px; top: 50px;}
  .logo { top: 10px; padding-left: 15px;}
}