@import url("./_fonts.css");

body {overflow-x:hidden;}

/*--------------------------------------------------------- HEADER ------------------------------------------------------*/
.header { background-color: black; }
.logo { margin: 2% 0 2% 3%; }
.logo_title_att {margin-left: .5%; color: white;  font-size: 9.88pt; font-family: 'ATTAleckSans_Rg'; }
.logo_title_business {color: white;  font-size: 10pt; font-family: 'ATTAleckSlab_Rg'; }
.language_selected { background-color: transparent; color: white; font-size: 9.41pt; text-transform: uppercase; padding: 8px; border: 1.5px solid white; border-radius: 7%; margin-left: 70%; }
.language_option { background-color: transparent; color: white; font-size: 9.41pt; border: 0; margin-left: 2.5%; }

/*--------------------------------------------------------- FOOTER --------------------------------------------------------*/
.footer_bg { background-color: black; }
.footer_options { margin-top: 5%; font-family: 'ATTAleckSans_Rg'; color: white!important; text-decoration: none; cursor: pointer; font-size: 10pt;}
.footer { margin: 3% 0 3% 0; }
.find_us { margin-top: 5%; font-family: 'ATTAleckSans_Rg'; color: white!important; text-decoration: none; font-size: 10pt; margin-bottom: 2%}
.rights_reserved { color: white; font-family: 'ATTAleckSans_Rg'; margin-bottom: 2%;}

/*--------------------------------------------------------- MESSAGE --------------------------------------------------------*/
.login_message { color: white; font-size: 12pt; font-family: 'ATTAleckSlab-Regular'; margin: 1% 0 1.2% 0; background-color: #ea7400}
.forgot_password_msg { color: white!important; cursor: pointer;}
.bg_message { background-color: #ea7400; }
.password_requirements { font-size: 7pt; font-family: 'ATTAleckSlab-Regular'; }
.login_error { border-color: red!important; color: red; }
.wrong_icon { position: relative; top: 8px; }

/*--------------------------------------------------------- MENU ------------------------------------------------------------*/

.menu { border-radius: 0px!important; margin-top: 0px!important; }
.menu_title { background-color: #2aace3!important; color: white!important; font-family: 'ATTAleckSans_Bd'; font-size: 10pt; cursor: pointer; text-transform: uppercase; overflow: hidden;}
.menu_item { padding: 8px!important; background-color: #464646; color: white!important; font-family: 'ATTAleckSans_Bd'; font-size: 10pt; }
.menu_icon { float: left; }
.menu_item a { color: white!important; text-decoration: none!important; cursor: pointer!important; }
.menu_expanded { background-color: black!important; }
.fix_information { border-bottom: 1px solid #cccccc; }
.welcome_user { margin-left: 10%; font-family: 'ATTAleckSans_Rg'; font-size: 16pt; }
.last_visit { margin-left: 10%; font-family: 'ATTAleckSans_Rg'; font-size: 9pt; }
.time { color: #2aace3; }
.account_component { display: flex; justify-content: space-between; width: 100%; border: 1px solid #cccccc; border-radius: 4px; background: #f2f2f2; box-sizing: border-box; margin-top: 6%; }
.account_component_left { margin: 3% 0 3% 2%; border-radius: 4px; border: 1px solid white; }
.account_component_center { width: 67%; margin-left: 3%; }
.account_component_right { width: 15%; border-left: 1px solid #cccccc; position: relative; cursor: pointer; }
.account_titte { font-size: 8pt; font-family: 'ATTAleckSans_Rg'; }
.account_name { font-size: 14pt; font-family: 'ATTAleckSans_Bd'; color: #2aace3; }
.balance_component_center { width: 75%; margin-left: 3%; }
.complete_payment { background-color: #ea7400; color: white; font-size: 11pt; font-family: 'ATTAleckSans_Bd'; text-transform: uppercase; margin: 6% 0 0 0; padding: 11px; border-radius: 4px; cursor: pointer;}
.logout_section { margin-top: 7%!important}
.logout { color: #2aace3!important; font-size: 10pt; font-family: 'ATTAleckSans_Bd'; text-decoration: none!important; cursor: pointer;}
.account_list { margin-top: 0!important; border-top: 0!important; width: 85.5%; border-top-left-radius: 0!important; border-top-right-radius: 0!important; background: #9ed7f1!important;}
.account { border-bottom: 1px solid white; font-size: 10pt; font-family: 'ATTAleckSans_Bd';}
.menu_side { padding: 0!important; }