@font-face { font-family: 'ATTAleckSlab_Rg'; src: url('src/fonts/ATTAleckSlab_Rg.ttf')  format('truetype') font-weight: normal; font-style: normal; }
@font-face { font-family: 'ATTAleckSans_Rg'; src: url('src/fonts/ATTAleckSans_Rg.ttf')  format('truetype') font-weight: normal; font-style: normal; }
@font-face { font-family: 'ATTAleckSlab_Bd'; src: url('src/fonts/ATTAleckSlab_Bd.ttf')  format('truetype') font-weight: normal; font-style: normal; }

body {overflow-x:hidden;}

/*--------------------------------------------------------- HEADER ------------------------------------------------------*/
.faq_title { font-family: 'ATTAleckSlab_Rg'; font-size: 30pt; color: white; margin-top: 8%; }
.faq_sub_title { font-family: 'ATTAleckSlab_Rg'; font-size: 22pt; color: white; margin: 3% 0 4% 0; }
.search_icon { position: absolute; top: 3%; right: 3.5%; }
.input_search { font-size: 18pt!important; font-family: 'ATTAleckSans_Rg'; }
.btn_search { color: white; font-family: 'ATTAleckSlab_Bd'; font-size: 10pt; text-transform: uppercase; background-color: #009edd; border: 1px solid #bfb0a6; border-radius: 4px; padding: 8px; width: 18%; margin: 8% 0 12% 0;font-weight: bold; }
.faq_panel { border-radius: 0px!important; }
.panel_title { font-size: 12.38pt; font-family: 'ATTAleckSlab_Rg'; color: #383838; }
.panel_text { font-size: 10.16pt; font-family: 'ATTAleckSlab_Rg'; color: #383838; }
.more { float: right; cursor: pointer; }
.faq_content { border-left: 2px solid #009edd; padding-left: 3%!important; margin-top: 5%; padding-top: 0!important; margin-bottom: 3%; }
.option_title { font-size: 28.46pt; font-family: 'ATTAleckSlab_Rg'; color: #009edd; }
.faq_summary { margin-top: 5%; }
.faq_topic { color: #009edd; font-size: 12pt; font-family: 'ATTAleckSlab_Rg'; cursor: pointer; }
.panel_text ul { margin-left: -3%; }