@import url("./_fonts.css");

.access_title { font-size: 18.18pt; font-family: 'ATTAleckSlab-Regular'; margin-top: 2.5%; margin-bottom: 2%;}
.container_block { display: flex; justify-content: space-between; }
.block_selected { width: 190px; height: 190px; background-color: #2aace3; border-radius: 10px; cursor: pointer;}
.block { width: 190px; height: 190px; background-color: white; border: 1px solid #2aace3; border-radius: 10px; cursor: pointer;}
.circle { border: 4px solid white; border-radius: 50%; width: 100px; height: 100px; margin: 20% 23% 12%; }
.dollar { margin-top: 10%; font-size: 40pt; color: white; position: relative;}
.service_icon { margin: 20% 40% 0; }
.service_title { color: #2aace3; text-transform: uppercase; font-size: 8pt; font-weight: bold; position: relative; top: 10%; }
.technical_help_title { color: #2aace3; text-transform: uppercase; font-size: 8pt; font-weight: bold; position: relative; top: 18%; }
.technical_help_icon { margin: 22% 30% 0; }
.profile_icon { margin: 22% 25% 0; }
.profile_title { color: #2aace3; text-transform: uppercase; font-size: 8pt; font-weight: bold; position: relative; top: 15%; }
.option_title { color: white; text-transform: uppercase; font-size: 8pt; font-weight: bold; }
.service_title { color: #2aace3; text-transform: uppercase; margin-bottom: 8%; font-size: 8pt; font-weight: bold; }

.hd1 { font-family: 'ATTAleckSlab-Regular'; font-size: 2em; margin-bottom: 20px;}
.flex { display: flex;}
.box-2-left { width: 55%;}
.box-2-right { width: 40%; padding-right: 20px;}
.row-resumen { display: flex; justify-content: space-between; color: #000000; margin-bottom: 20px; font-weight: 900;}
.row-resumen-left { white-space: nowrap;}
.row-resumen-dots-horizontal { overflow: hidden; width: 100%; letter-spacing: .2em; white-space: nowrap;}
.row-resumen-right { text-align: right; font-size: 1.3em; position: relative; top: -8px; margin-left: 1%;}
.complete_payment_summary_bill { background-color: #ea7400; color: white; padding: 13px 20px; border: 1px solid #cccccc; border-radius: 5px; text-transform: uppercase; font-size: 10pt; font-weight: 900; text-align: center; margin-bottom: 10px; cursor: pointer;}
.btn-white { color: #666666; font-style: italic; padding: 10px 20px; border: 1px solid #cccccc; border-radius: 5px; font-size: 12pt; font-weight: 550; text-align: center; margin-bottom: 10px; cursor: pointer;}

@media screen and (max-width: 860px){.service_icon{width: 5% !important;}}