@import url("./_fonts.css");

#login-section {}
.login-left-copy1 { font-size: 3em;}
.login-left-copy2 { font-size: 2.1em; color: #999999; margin-bottom: 20px;}
.login-input { position: relative; width: 100%; box-sizing: border-box; padding: 10px; border: 1px solid #cccccc; border-radius: 4px; font-size: 1.2em; font-family: 'ATTAleckSlab-Regular';}
.login-right-copy2 { font-size: 2em;}
.login-right-list {}
.login-right-list li { list-style: disc; margin-left: 15px; font-style: italic; font-size: 1.2em; font-weight: 900;}

/*------------------------------------------------------ LEYANY ------------------------------------------------------------*/

body {overflow-x:hidden;}

.bg_login { background-image: url("../drawable/bg_login.jpg"); background-repeat: no-repeat; width: 101.2%; background-size: cover;}
.login_panel { padding: 36px !important; background-color: white; border-radius: 10px; margin-top: 6.5%; margin-bottom: 5%; border: 1px solid #bfb0a6; opacity: 0.9;
}
.login_title { font-family: 'ATTAleckSlab-Regular'; font-size: 26pt; color: black; margin-top: 40px;}
.login_sub_title { font-family: 'ATTAleckSlab-Regular'; font-size: 16pt; color: #9f9f9f; margin-top: 0; }
.label_component { font-family: 'ATTAleckSlab-Regular'; font-size: 10pt; }
.input_component { border: 1px solid #bfb0a6; border-radius: 3px; width: 100%; height: 30px; }
.btn_login { color: white; font-family: 'ATTAleckSlab-Regular'; font-size: 8.45pt; text-transform: uppercase; background-color: #009edd; border: 1px solid #bfb0a6; border-radius: 4px; padding: 8px; }
.chbx_text {font-size: 7.8pt; font-family: 'ATTAleckSlab-Regular'; margin: 3.5% 0 0 2%; }
.conexion_type { font-size: 7.8pt; font-family: 'ATTAleckSlab-Regular'; margin-right: 5%; margin-left: 2%; }
.forgot_password {font-size: 10pt; font-family: 'ATTAleckSlab-Regular'; color: black; text-decoration: none; cursor: pointer;}
.rules_title { font-size: 26pt; font-family: 'ATTAleckSlab-Regular'; color: black; margin-top: 3%; line-height: normal;}
.transactions {margin-bottom: 20px; font-size: 20pt; font-family: 'ATTAleckSlab-Regular'; color: #009edd; margin-top: 3%; line-height: normal; }
.transaction_option { font-size: 16pt; font-family: 'ATTAleckSlab-Regular'; color: #009edd; margin-top: 2%; line-height: normal; font-style: italic; }
.more_information { font-size: 12pt; font-family: 'ATTAleckSlab-Regular'; color: #696969; margin-top: 20px; line-height: normal; font-style: italic; }
.link_faq { color: #696969; text-decoration: none; cursor: pointer; }
.input_error { display: flex; justify-content: space-between; }

/*--------------------------------------------------------- HEADER ------------------------------------------------------*/
.header { background-color: black; }
.logo_att { margin: 2% 0 2% 3%; }
.logo_title_att {margin-left: .5%; color: white;  font-size: 9.88pt; font-family: 'ATTAleckSlab-Regular'; }
.logo_title_business {color: white;  font-size: 10pt; font-family: 'ATTAleckSlab-Regular'; }
.language_selected { background-color: transparent; color: white; font-size: 9.41pt; text-transform: uppercase; padding: 8px; border: 1.5px solid white; border-radius: 7%; margin-left: 70%; }
.language_option { background-color: transparent; color: white; font-size: 9.41pt; border: 0; margin-left: 2.5%; }

/*--------------------------------------------------------- FOOTER --------------------------------------------------------*/
.footer_bg { background-color: black; }
.footer_options { margin-top: 5%; font-family: 'ATTAleckSlab-Regular'; color: white!important; text-decoration: none; cursor: pointer; font-size: 10pt;}
.footer { margin: 3% 0 3% 0; }
.find_us { margin-top: 5%; font-family: 'ATTAleckSlab-Regular'; color: white!important; text-decoration: none; font-size: 10pt; margin-bottom: 2%}
.rights_reserved { color: white; font-family: 'ATTAleckSlab-Regular'; margin-bottom: 2%;}

/*--------------------------------------------------------- MESSAGE --------------------------------------------------------*/
.message_container { position: absolute; z-index: 11; width: 100%; margin:0 !important; color: white; font-size: 12pt; font-family: 'ATTAleckSlab-Regular'; }
.login_message { background-color: #ea7400; padding-top: 1%; padding-bottom: 1%; }
.login_success { background-color: #009edd; padding-top: 1%; padding-bottom: 1%; }
.msg_icon { margin-right: .5%; }
.forgot_password_msg { color: white!important; cursor: pointer;}
/*.bg_message { background-color: #ea7400; }*/
.password_requirements { font-size: 7pt; font-family: 'ATTAleckSlab-Regular'; }
.login_error { border-color: red!important; color: red; }
.wrong_icon { position: relative; top: 8px; }

/*mediq queries*/

@media screen and (max-width: 767px) {
    .login_panel { 
        margin: 10px 10px 30px 10px !important;
        padding: 30px !important;
    }
    .bg_login {
        width: 100%;
        padding: 10px;
        margin: 0 !important;
    }
}
