@import url("./_fonts.css");

.services-title1 { font-family: 'ATTAleckSlab-Regular'; font-size: 1.6em; margin: 2% 0 2% 1.6%; }
.services-title2 { font-family: 'ATTAleckSlab-Regular'; font-size: 1em; margin: 0 0 2% 1.6%; }
.table { border-top: 1px solid #2aace3; margin-bottom: 0!important;}
.table thead { background-color: #b7b7b7;}
.table thead tr th { padding-top: 15px!important; padding-bottom: 15px!important; text-transform: uppercase; color: black; font-size: 0.8em; font-weight: bold; font-family: 'ATTAleckSlab-Bold';}
.table tbody { height: 230px; overflow-y: auto; width: 100%; }
.table tbody tr td { border-bottom: 1px solid #2aace3; padding-top: 15px!important; padding-bottom: 15px!important; font-family: 'Arial'; font-weight: bold;}

.btn-download-bill-summary-active { background: #000000; color: #ffffff; padding: 10px 25px; border: 1px solid #ffffff; border-radius: 5px; margin: 1% 1% 1% 0;}
.btn-download-bill-summary {border: 1px solid black; padding: 10px 25px; border-radius: 5px; margin: 1% 1% 1% 0;}
.payment-history { border-top: 1px solid #2aace3; border-right: 1px solid #2aace3; border-bottom: 0; border-left: 1px solid #2aace3; background-color: white; }

.complete-payment-steps { background-color: white; margin-top: 2%; padding-bottom: 5%;} 
.choose-amount-title { font-family: 'ATTAleckSlab-Regular'; font-size: 2.3em; margin: 2% 0 2% 1.6%; padding-top: 22px; }
.account-data { justify-content: center; margin-top: 3%; margin-bottom: 2%; }
.another-amount { margin-right: 27px; }
.complete-payment-steps-footer { margin: 3% 0; }


.circle-step { background: #f2f2f2; width: 50px; height: 50px; border-radius: 50%; border: 1px solid #cccccc; position: relative; z-index: 10; margin-top: 4%; margin-left: 5%;}
.circle-active { background: #2bace5; box-shadow: inset 0 0 0 2px #ffffff;}
.circle-active-text { color: white; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 1.6em;}
.circle-text { color: #78797b; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 1.3em;}

.m-row { display: flex; justify-content: center; margin-bottom: 5px;}
.m-row-left { padding-top: 10px; margin-right: 15px; box-sizing: border-box; width: 50%; text-align: right; font-weight: 900;}
.m-row-right { box-sizing: border-box; width: 20%; text-align: left;}
.step2-form-container { margin-right: 35%; margin-top: 5%; }
.input-short { width: 115px!important;} 
.disable { background-color: #ebebeb!important;}

.circle-amount { background: #f2f2f2; width: 25px; height: 25px; border-radius: 50%; border: 1px solid #cccccc; position: relative; z-index: 10; margin-left: 2%; margin-top: 0.5%;}
.circle-amount-active { background: #b7b7b7; box-shadow: inset 0 0 0 2px #ffffff;}
.circle-amount-green { background: #8dc63f; box-shadow: inset 0 0 0 2px #ffffff;}
.btn-continue { background: #000000; color: #ffffff; padding: 10px 50px; border: 1px solid #ffffff; border-radius: 5px; margin: 1% 1% 1% 0; text-transform: uppercase; }

.redirect-evertec { font-family: 'ATTAleckSlab-Regular'; font-size: 1.5em; padding-top: 15%; }
.redirect-evertec-container { width: 70%; height: 250px; background-color: #e6e6e6; margin-left: 15%; margin-top: 3%; }
.arrow-progress-container { width: 30%; margin-left: 35%; height: 35px; border: 3px solid #2aace3; border-radius: 5px; margin-top: 4%; position: relative; }
.arrow-progress { display: flex; margin-top: 8px; }
.redirect-progress { background-color: #2aace3; position: absolute; height: 29px; }
.arrow { border: 1px solid #e6e6e6; margin-top: 5px; height: 2px; }
.triangulo { border-style: solid; border-width: 6px; width: 0; height: 0; }
.triangulo>div { border-style: solid; border-width: 2px; width: 0; height: 0; position:relative; }
.triangulo.right { border-color: transparent transparent transparent #e6e6e6; }
.triangulo.right>div { border-color: transparent transparent transparent #2aace3; top:-2px; left:-6px; }
.step3-form-container { font-family: 'ATTAleckSlab-Regular'; font-size: 2.3em; margin: 5% 0 5% 0; width: 50%; margin-left: 25%; }