@import url("./_fonts.css");

.profile-title { font-family: 'ATTAleckSlab-Regular'; font-size: 1.3em; text-transform: uppercase; margin: 2% 0 2% 1.6%; }
.profile-data { display: flex; }
.input-component { width: 23%; margin-left: 1.55%; margin-bottom: 1%; }
.input-text { color: black!important; background-color: #ebebeb!important;}
.separator-line { width: 96%; margin-left: 1.8%; height:1px; border:none; color:#2aace3; background-color:#2aace3; }
.textarea-component { width: 35%; margin-left: 1.55%; margin-bottom: 2.5%; }
.edit-profile-title { font-size: 1em; text-transform: uppercase; margin: 2% 0 2% 1.6%; }
.edit-profile-request { margin-top: 2%; }
.from-to { font-family: 'ATTAleckSlab-Italic'; }
.btn-complete-request { font-family: 'ATTAleckSlab-Regular'; width: 15%; background-color: #8dc63f; margin-left: 1.55%; border-radius: 4px; padding: 3px 3px; color: white; cursor: pointer; }
.optional-message { width: 96.5%; margin-left: 1.55%; margin-top: 1.5%; margin-bottom: 1.5%; }
.complete-message { font-family: 'ATTAleckSlab-Italic'; font-size: .7em }
.btn-send { font-size: .8em; width: 30%; background-color: #2aace3; border-radius: 4px; padding: 9px 9px; color: white; text-transform: uppercase; float: right; margin-right: 4%; cursor: pointer; }
.btn-send-container { text-align: right; overflow: hidden; position: relative; width: 50%;}
.edit-profile-footer { display: flex; justify-content: space-between; margin-left: 1.55%; margin-bottom: 3%; }
.assistance { margin-top: 1%; }

.recovery-password-steps { display: flex; width: 60%; margin-left: 20%; }
.profile-recovery-password-title { font-family: 'ATTAleckSlab-Regular'; font-size: 2em; text-transform: uppercase; text-align: center; margin-top: 2%; margin-bottom: 1%;}
.profile-recovery-password-title1 { font-family: 'ATTAleckSlab-Regular'; font-size: 1em; text-align: center; margin-top: 1%; margin-bottom: 5%; }
.profile-recovery-password-text { margin-left: 20%; width: 60%; font-family: 'ATTAleckSlab-Regular'; font-size: 1.4em; text-align: center; margin-top: 1%; margin-bottom: 2%; }

.step-box { margin: 0 auto; max-width: 400px; height: 40px; width: 100%; margin-bottom: 40px; position: relative; display: flex; justify-content: space-between;}
.circle { background: #f2f2f2; width: 50px; height: 50px; border-radius: 50%; border: 1px solid #cccccc; position: relative; z-index: 10;}
.circle-active { background: #2bace5; box-shadow: inset 0 0 0 2px #ffffff;}
.circle-active-text { color: white; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 1.3em;}
.circle-text { color: #78797b; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 1.3em;}
.step-horizontal-bar { position: absolute; top: 50%; height: 12px; border: 1px solid #cccccc; background: #f2f2f2; transform: translate(0, -50%;); width: 80%; margin-left: 10%; margin-right: 10%; box-sizing: border-box;}
.recovery_password-footer { background: #2bace5; padding: 10px; text-align: right;}
.recovery_password-footer-btn { background: #000000; color: #ffffff; padding: 10px 25px; border: 1px solid #ffffff; border-radius: 5px; text-transform: uppercase;}
.input-email { width: 30%!important; margin-left: 35%; margin-bottom: 5%;}

.m-row { display: flex; justify-content: center; margin-bottom: 5px;}
.m-row-left { padding-top: 10px; margin-right: 15px; box-sizing: border-box; width: 50%; text-align: right; font-weight: 900;}
.m-row-right { box-sizing: border-box; width: 50%; text-align: left;}
.input { font-family: 'ATTAleckSlab-Regular'; border: 1px solid #cccccc; border-radius: 4px; font-size: 1em; padding: 10px; text-align: center;}
.step2-form-container { margin: 5% 25%; }

.submit-btn { background: #2aace3; color: #ffffff; padding: 7px; border: 1px solid #ffffff; border-radius: 5px; text-transform: uppercase; width: 32%; margin-left: 60%; margin-top: 2%;}
.box-request-left { padding-top: 10px; margin-right: 15px; box-sizing: border-box; width: 50%; text-align: right; font-weight: 900;}
.box-request-right { box-sizing: border-box; width: 50%; text-align: left;}
.call_to { width: 32%; color: #000000; background-color: #90cde6; padding: 7px; border-radius: 4px; margin: 1% 60% 2%;}
.box-request-container { margin-right: 30%;}
.request-title { font-family: 'ATTAleckSlab-Regular'; font-size: 2em; text-align: center; margin-bottom: 3%;}
.request { background-color: white; }

