@import url("./_fonts.css");

.recovery-password-box { margin-top: 2%; width: 50%; margin-left: 25%; margin-bottom: 2%; height: 415px;}
.recovery-password-title { height: 15%; font-family: 'ATTAleckSlab-Regular'; font-size: 2em; text-transform: uppercase; text-align: center; padding-top: 15px;}
.recovery-password-footer { height: 15%; background: #2bace5; padding: 10px; text-align: right;}

/*step 1*/
.step1-active { height: 20%; padding-top: 10px;}
.step-box { margin: 0 auto; max-width: 400px; height: 40px; width: 100%; margin-bottom: 40px; position: relative; display: flex; justify-content: space-between;}
.step1-content1 { height: 25%; margin-left: 5%; width: 90%; font-family: 'ATTAleckSlab-Regular'; font-size: 1.4em; text-align: center;  padding-top: 25px;}
.step1-content2 { height: 25%; width: 30%!important; margin-left: 35%; padding-top: 3%;}
.input-email-step1 { margin-left: 35%;}

/*step 2*/
.step2-content1 { height: 20%; margin-left: 5%; width: 90%; font-family: 'ATTAleckSlab-Regular'; font-size: 1.4em; text-align: center;}
.step2-content2 { height: 30%; margin-left: 15%; margin-right: 15%; }
.input-sm { width: 80%!important; }

/*step 3*/
.step3-content1 { height: 50.5%; margin-left: 10%; width: 80%; font-family: 'ATTAleckSlab-Regular'; font-size: 1.4em; text-align: center; padding-top: 8%;}


.profile-recovery-password-title1 { font-family: 'ATTAleckSlab-Regular'; font-size: 1em; text-align: center; margin-top: 1%; margin-bottom: 2%; }
.profile-recovery-password-title { font-family: 'ATTAleckSlab-Regular'; font-size: 2em; text-transform: uppercase; text-align: center; margin-top: 2%; margin-bottom: 1%;}
.circle { background: #f2f2f2; width: 50px; height: 50px; border-radius: 50%; border: 1px solid #cccccc; position: relative; z-index: 10;}
.circle-active { background: #2bace5; box-shadow: inset 0 0 0 2px #ffffff;}
.circle-active-text { color: white; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 1.3em;}
.circle-text { color: #78797b; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 1.3em;}
.step-horizontal-bar { position: absolute; top: 50%; height: 12px; border: 1px solid #cccccc; background: #f2f2f2; transform: translate(0, -50%;); width: 80%; margin-left: 10%; margin-right: 10%; box-sizing: border-box;}
.m-row { display: flex; justify-content: center; margin-bottom: 5px;}
.m-row-left { padding-top: 10px; margin-right: 15px; box-sizing: border-box; width: 50%; text-align: right; font-weight: 900;}
.m-row-right { box-sizing: border-box; width: 50%; text-align: left;}



















/*.recovery_password-footer { background: #2bace5; padding: 10px; text-align: right;}*/
.recovery_password-footer-btn { background: #000000; color: #ffffff; padding: 10px 25px; border: 1px solid #ffffff; border-radius: 5px; text-transform: uppercase;}
/*.input-email { width: 30%!important; margin-left: 35%; margin-bottom: 5%; margin-top: 5%;}*/