@import url("./_fonts.css");

.services-title1 { font-family: 'ATTAleckSlab-Regular'; font-size: 1.6em; margin: 2% 0 2% 1.6%; }
.services-title2 { font-family: 'ATTAleckSlab-Regular'; font-size: 1em; margin: 0 0 2% 1.6%; }
.table { margin-top: 3%; border: 1px solid #2aace3;}
.table thead { background-color: #b7b7b7;}
.table thead tr th { padding-top: 15px!important; padding-bottom: 15px!important; text-transform: uppercase; color: black; font-size: 0.8em; font-weight: bold; font-family: 'ATTAleckSlab-Bold';}
.table tbody { height: 230px; overflow-y: auto; width: 100%; }
.table tbody tr td { border-bottom: 1px solid #2aace3; padding-top: 15px!important; padding-bottom: 15px!important; font-family: 'Arial'; font-weight: bold;}